/*
    Author: Danilo da Silva;
    Theme: Bakery;
    Version: 1.0;
*/

/* Css for all pages */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0px auto;
    /* centralize the content */
}

.img-responsive {
    width: 100%;
}

.img-curved {
    border-radius: 15px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    text-decoration: none;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}

.btn-primary {
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
    background-color: #333;
}

h2 {
    color: #dc3545;
    font-size: 2rem;
    margin-bottom: 1%;
    text-shadow: 1px 1px black;
}

h3 {
    font-size: 1.5rem;
}

h3 a {
    text-shadow: 1px 1px black;
    color: #fff;
    font-size: 2rem;
}

h3 a:hover {
    color: #333;
}

.float-container {
    position: relative;
    /* Can be moved with ex: right: 10px from its relative position */
}

.float-text {
    position: absolute;
    /* Will remain in place even if infront of other elements */
    bottom: 15px;
    left: 30%;
    font-size: 2.2rem;
    text-shadow: 3px 2px black;
    color: white;
}

.fieldset {
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.text-white {
    color: white;
    text-shadow: 1px 1px black;
}

.success {
    color: #546de5;
    padding: 2%;
    font-weight: bold;
}

.error {
    color: #c44569;
    padding: 3%;
    font-weight: bold;
}

/* Css for navbar */
.navbar {
    background-color: #c4c4c4;
}

.logo {
    width: 10%;
    float: left;
    /* Image ignores borders... Floats in front of other elements */
    margin: 1% 1%;
}

.logo img {
    border-radius: 30px;
}

.menu {
    line-height: 100px;
    /* Bring menu line down from top of page */
}

.menu a {
    color: white;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    /* Display inline so they are next to each other */
    padding: 1%;
    margin: 1% 1%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: #dc3545;
    text-shadow: 1px 1px black;
    border-radius: 15px;
    padding: 1% 1% 1% 1.3%;
}

.menu ul li:hover {
    background-color: #333;
}

/* Css for pastry search */
.pastry-search {
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.pastry-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

.search-results {
    position: relative;
    transform: translate(55%, 3%);
    z-index: 1;
    width: 45%;
    min-height: 50px;
    max-height: 145px;
    overflow-y: auto;
    background-color: white;
    border-radius: 15px;
    color: black;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.search-result-item-img {
    width: 7%;
    object-fit: cover;
    margin-right: 10px;
}

.search-result-item-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    width: 150%;
    /* Adjust this width as needed */
    color: #db3545;
    text-shadow: 1px 1px #000;
}

.search-result-item-price {
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    /* Adjust this width as needed */
    text-align: right;
    color: #dc3545;
}

.search-results hr {
    border-top: 1px solid black;
    /* Change the color value as needed */
}

.search-result-item:hover {
    background-color: #c4c4c4;
    cursor: pointer;
}

/* Custom scrollbar styles for the search-results div */
.search-results::-webkit-scrollbar {
    width: 10px;
    /* Change the width as needed */
}

.search-results::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Change the background color as needed */
}

.search-results::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Change the color as needed */
    border-radius: 5px;
    /* Change the border-radius as needed */
}

.search-results::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Change the hover color as needed */
}

/* Css for categories */
.categories {
    padding: 4% 0;
    text-align: center; /* add this to center the child divs */
}

.categories .container {
    width: 100%; /* increase the width of the parent container */
    max-width: 1200px; /* add a max-width to ensure the container doesn't get too wide */
    margin: 0 auto; /* center the container horizontally */
}

.box-3 {
    width: 25%; /* reduce the width of the child divs */
    display: inline-block; /* use inline-block instead of float to center the child divs */
    vertical-align: top; /* align the child divs to the top */
    margin: 0 2%; /* add some margin between the child divs */
    text-align: left; /* add this to align the text to the left */
}

.category-hover:hover {
    color: #dc3545;
}

/* Css for pastry menu */
.pastry-menu {
    padding: 4% 0;
    background-color: #c4c4c4;
}

.pastry-menu-box {
    display: flex;
    width: 48%;
    margin: 1%;
    float: left;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
}

.pastry-menu-img {
    width: 30%;
    float: left;
}

.pastry-menu-desc {
    
    /* set a fixed height for the description box */
    
flex: 1;
    /* make the box stretch to the full height of its parent */
    
width: 100%;
    
margin: 1% 1% 1% 1%;
}

.pastry-menu-desc h4 {
    color: #333;
    font-size: 25px;
    text-shadow: 1px 1px #c4c4c4;
    text-align: center;
}

.pastry-menu-desc{
    text-align: center;
}

.pastry-menu-desc .btn{
    font-size: 20px;
    /* margin: 1% 1% 1% 15%; */
}

.pastry-price {
    margin: 2% 0;
    color: #dc3545;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.pastry-detail {
    color: #596275;
    text-align: center;
    font-size: 15px;
}

/* Css for social */
.social {
    margin: 1% 0;
}

.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    padding: 1%;
}

p a {
    color: #dc3545;
    text-shadow: 1px 1px black;
}

p a:hover {
    color: #333;
}

/* for Order Section */
.order {
    width: 50%;
    margin: 0 auto;
}

.input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.order-label {
    margin-bottom: 1%;
    font-weight: bold;
}

/* Css for pastry-page */
/* Styles for the pastry page */
.pastry-menu-pastry-page {
    padding: 2% 0;
}

.container-pastry-page {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1%;
}

.text-center-pastry-page {
    text-align: center;
    margin-bottom: 5%;
    color: #dc3545;
}

.text-white {
    color: #fff;
}

.pastry-menu-box-pastry-page {
    background-color: #c4c4c4;
    display: flex;
    padding: 2%;
    margin-bottom: 3%;
    border: 1px solid #eee;
    border-radius: 15px;
}

.pastry-menu-img-pastry-page {
    float: left;
    margin-right: 14%;
    width: 30%;
    overflow: hidden;
    border-radius: 5px;
}

.img-responsive-img-curved-pastry-page {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.pastry-menu-desc-pastry-page {
    overflow: hidden;
}

.pastry-menu-desc-pastry-page h4 {
    margin: 0 0 1%;
    font-size: 45px;
    font-weight: 700;
    color: #333;
    text-shadow: 1px 1px white;
    text-align: center;
}

.pastry-price-pastry-page {
    margin: 0 0 1%;
    font-size: 45px;
    font-weight: 700;
    color: #dc3545;
    text-align: center;
}

.pastry-detail-pastry-page {
    font-size: 30px;
    line-height: 1.2;
    color: white;
    text-shadow: 1px 1px black;
}

.btn-pastry-page {
    display: inline-block;
    padding: 3% 25%;
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    margin: 13% 1% 1% 12%;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 30px;
}

.btn-pastry-page:hover {
    background-color: #333;
    color: #fff;
}

.error-pastry-page {
    color: #dc3545;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

/* Css for contact page */
.contact-me {
    background-color: #c4c4c4;
    padding: 3% 0;
}

.contact-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-me h3 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px black;
}

.address,
.details {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
}

.address h3,
.details h3 {
    margin-top: 0;
}

.address p,
.details p {
    margin: 0;
    font-size: 20px;
}

/* Css for mobile site 768px*/
@media only screen and (max-width: 768px) {
    .logo {
        width: 45%;
        float: none;
        margin: 1% auto;
    }

    .logo img {
        margin-top: 5%;
    }

    .menu {
        line-height: 50px;
    }

    .menu ul {
        text-align: center;
    }

    .menu ul li {
        font-size: 14px;
        background-color: #dc3545;
        border-radius: 15px;
        margin: 1% 1%;
        padding: 2% 1% 2% 2%;
    }

    .pastry-search input[type="search"] {
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn {
        padding: 2%;
    }

    .pasty-search {
        padding: 10% 0;
    }

    .search-results {
        position: relative;
        top: 70%;
        left: -34%;
        z-index: 1;
        width: 80%;
        min-height: 50px;
        max-height: 145px;
        overflow-y: auto;
        background-color: white;
        border-radius: 15px;
        color: black;
    }

    .search-result-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .search-result-item-img {
        width: 7%;
        object-fit: cover;
        margin-right: 10px;
    }

    .search-result-item-title {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        width: 150%;
        /* Adjust this width as needed */
        color: #dc3545;
    }

    .search-result-item-price {
        font-size: 16px;
        font-weight: bold;
        width: 30%;
        /* Adjust this width as needed */
        text-align: right;
        color: #dc3545;
    }

    .search-results hr {
        border-top: 1px solid black;
        /* Change the color value as needed */
    }

    .search-result-item:hover {
        background-color: #c4c4c4;
        cursor: pointer;
    }

    .categories {
        padding: 3% 0;
    }

    h2 {
        margin-bottom: 1%;
    }

    .float-text {
        font-size: 20px;
        left: 25%;
    }

    .float-text:hover {
        color: #dc3545;
    }

    .box-3 {
        width: 28%;
        margin: 4% 1.5%;
    }

    .pastry-menu {
        padding: 3% 0;
    }

    .pastry-menu-box {
        display: flex;
        flex-direction: column;
        width: 97%;
        padding: 3%;
        margin-bottom: 7%;
    }
    
    .pastry-menu-img {
        width: 55%;
        margin: 0% 22%;
    }
    
    .pastry-menu-desc {
        text-align: center;
    }
    
    .pastry-menu-desc .btn {
        font-size: 22px;
        margin: 0%;
        padding: 2% 20%;
    }
    
    .pastry-menu-box-pastry-page {
        background-color: #c4c4c4;
        display: flex;
        padding: 5%;
        margin-bottom: 3%;
        border: 1px solid #eee;
        border-radius: 15px;
    }

    .pastry-menu-img-pastry-page {
        float: left;
        margin: 0% 3% 0% 0%;
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
    }

    .pastry-menu-desc-pastry-page h4 {
        margin: 0 0 1% 0%;
        font-size: 30px;
        font-weight: 700;
        color: #333;
        text-shadow: 1px 1px white;
    }

    .pastry-price-pastry-page {
        margin: 0 0 1%;
        font-size: 35px;
        font-weight: 700;
        color: #dc3545;
    }

    .pastry-detail-pastry-page {
        font-size: 20px;
        line-height: 1.2;
        color: white;
        text-shadow: 1px 1px black;
    }

    .btn-pastry-page {
        display: inline-block;
        padding: 4% 12%;
        background-color: #dc3545;
        color: #fff;
        border-radius: 5px;
        margin-top: 20%;
        transition: all 0.3s ease;
        font-weight: bold;
        font-size: 30px;
    }

    .img-responsive-img-curved-pastry-page {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }

    .social {
        padding: 5% 0;
    }

    .order {
        width: 100%;
    }

    .contact-me{
        text-align: center;
    }

    .contact-me-container {
        flex-direction: column;
    }

    .address,
    .details {
        flex: 1 1 100%;
    }
}